.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;

  &-Nav {
    display: flex;
    list-style: none;
    gap: 10px;

    &-Item {
      height: 70px;
      width: 70px;
      text-align: center;
      visibility: visible;
      font-weight: 400;
      font-size: 16px;
      padding-inline: 16px;
      text-transform: uppercase;
      text-decoration: none;
      color: #000;

      &-Selected {
        font-weight: 600;
        color: #5ece7b;
        border-bottom: 2px solid #5ece7b;
      }
    }
  }

  .Cart {
    cursor: pointer;

    &-ItemsCount {
      position: absolute;
      top: 45px;
      right: 110px;
      width: 20px;
      height: 20px;
      border-radius: 50%; /* This makes the div circular */
      background-color: #000; /* Background color of the circle */
      color: #fff; /* Text color */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }
  }
}
