.CartOverlay {
  position: absolute;
  right: 72px;
  width: auto;
  top: 78px;
  padding: 32px 16px 32px 16px;
  gap: 32px;
  background-color: #fff;
  z-index: 3;

  &-Product {
    &List {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-block-start: 32px;
    }

    &ListItem {
      display: flex;
      gap: 4px;
      justify-content: space-between;
    }

    &Info {
      display: flex;
      gap: 4px;
      flex-grow: 1;
      justify-content: space-between;
    }

    &Image {
      height: 175px;
      width: 175px;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &Title {
      margin: 0;
      font-size: 18px;
      font-weight: 300;
    }

    &Price {
      margin-block: 8px;
      font-size: 16px;
      font-weight: 400;
    }

    &SubTitle {
      font-size: 14px;
      font-weight: 400;
    }

    &AttributeOptions {
      display: flex;
      gap: 12px;
      font-size: 14px;
      font-weight: 400;

      &-Text {
        width: 72px;
        height: 42px;
        text-align: center;
        border: 1px solid #1d1f22;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.selected {
          color: #fff;
          background: #1d1f22;
        }
      }

      &-Swatch {
        width: 20px;
        height: 20px;
        border: 1px 0px 0px 0px;
        color: transparent;
        user-select: none;
        cursor: pointer;

        &.selected {
          border: 1px solid #5ece7b;
        }
      }
    }
  }

  &-ProductCount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-CountControl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #1d1f22;
  }
}
