* {
  font-family: "Raleway";
}

html {
  height: auto;

  &:has(.Overlay-Active) {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

body,
#root {
  margin: 0;
  height: 100%;
}

.App {
  position: relative;
  height: 100%;
  min-height: 100dvh;

  &-Wrapper {
    padding-inline: 101px;
  }

  .Overlay {
    &-Active {
      position: absolute;
      height: calc(100% - 89px);
      width: 100%;
      top: 89px;
      bottom: 0;
      left: 0;
      background: #39374838;
      z-index: 1;
    }
  }
}
