* {
  font-family: "Raleway";
}

.App {
  padding-inline: 101px;
  position: relative;

  .Overlay {
    &-Active {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 101px;
      bottom: 0;
      left: 0;
      background: #39374838;
      z-index: 1;
    }
  }
}
