.ProductDetails-AttributeSet {
  &-cart {
    .ProductDetails-AttributeOptions {
      &-Text {
        height: fit-content;
        width: fit-content;
        min-width: 24px;
        min-height: 24px;
        padding: 5px;
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
      }

      &-Swatch {
        width: 20px;
        height: 20px;
      }
    }
  }
}
