.Attribute {
  &-AttributeSet {
    &-cart {
      .Attribute {
        &-SubTitle {
          font-size: 16px;
        }

        &-AttributeOptions {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}
