.Attribute {
  &-AttributeOptions {
    display: flex;
    gap: 10px;
  }

  &-AttributeSet {
    .Attribute {
      &-SubTitle {
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
      }
    }

    &-cart {
      .Attribute {
        &-SubTitle {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
