.CartOverlay {
  .Price {
    &-Details {
      font-size: 16px;
      font-weight: 400;
      margin: 0;
    }
  }
}

.Price {
  font-weight: 700;

  &-Title {
    font-family: "Roboto Condensed";
    font-size: 18px;
    text-transform: uppercase;
  }

  &-Details {
    font-size: 24px;
    margin: 0;
  }
}
